* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.aboutSection{
	border:1px solid #dddddd;
	padding-bottom: 20px;
}

.page-header{
	margin-top: 0;
}

.pItems .thumbnail{
	position: relative;
}

.tbHeading{
	position:absolute;
	width:100%;
	bottom:35px;
	left:0;
	background: #337ab7;
	padding:10px;
	text-align: center;
}

a .tbHeading{
	color: #ffffff;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.footer .navbar{
	margin:0;
}